<div class="page-header">
  <%= link_to comentarios_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_comentario_path(@comentario), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show comentario</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @comentario.nome %></dd>

  <dt>Corpo:</dt>
  <dd><%= @comentario.corpo %></dd>

  <dt>Post:</dt>
  <dd><%= @comentario.post %></dd>

</dl>
