<div class="page-header">
  <%= link_to posts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_post_path(@post), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1><%= @post.titulo %></h1>
</div>

<dl class="dl-horizontal">

  <dd><%= @post.corpo %></dd>

  <dt>Categoria:</dt>
  <dd><%= @post.categoria %></dd>

  <dt>Autor:</dt>
  <dd><%= @post.autor %></dd>

</dl>
